html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;

}

.navbar-color{
    background-color: #2d9da6;
}

.titulo{
    font-family: 'Roboto', sans-serif;}

.logo{
    width: 2rem;
}

.tarjeta{
    width: 16rem;
}

.contenedor-formulario{
    height:30rem;
}
.ancho-formulario{
    max-width:40rem;
}

footer{
    font-weight: 500;
    background-color: #17a3b8;
}

.white{
    color: white;
}

.center{
    text-align: center;
}